h1{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5pt;
    font-family: "Source Sans Pro";
    color: #3098dd;
    padding-top: 10;
}

h2{
    font-size: 30px;
    font-family: "Source Sans Pro";
}

p{
    font-size: 13px;
    font-family: "Source Sans Pro"
}

p.one{
    border-left: 10px solid #3098dd;
    padding-left: 5;
}

h1, h2, p {
    margin-left: 20;
    margin-right: 20;
}

body{
    border: 17px solid gray;
    margin-left: 150;
    margin-right:150;
}